.card {
    border:2px solid gray;
    width: 170px;   
    padding: 5px;
    margin-top: 12px;
}

.icon {
    float: right;    
}

.footer {
    border:1px solid gray;
    width:170px;
    display:inline-block;
}

.items {
    border:2px solid purple;
    width : 150px; 
    height : 20px; 
    margin-top : 10px;
    margin-bottom : 10px;
  }